
body {
    background-color: aliceblue;
}

.img-container {
    background-color: white;
}

.img-margin {
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    padding-top: 10px;
}

.link-color-grey {
    color: grey;
}
.font-bold{
    font-weight:bold;
}